sudo: false
language: scala
jdk:
  - oraclejdk8
scala:
  - 2.11.8
script:
 - sbt clean +test:compile
 - sbt +test
 # Manually select the JVM projects to run coverage on until Scoverage is compatible with ScalaJS
 # TODO fix this before merging
 # - sbt coverage coreJVM/test enumeratum-play/test enumeratum-play-json/test enumeratumCirceJVM/test enumeratumUPickleJVM/test enumeratum-reactivemongo-bson/test coverageReport && sbt coverageAggregate
after_success:
 # TODO fix this before merging
 # - sbt coveralls
 - '[ "${TRAVIS_PULL_REQUEST}" = "false" ] && sbt coreJVM/updateImpactSubmit || true'
cache:
  directories:
  - $HOME/.sbt/0.13
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/cache
  - $HOME/.sbt/launchers
  - $HOME/.ivy2
before_cache:
  - du -h -d 1 $HOME/.ivy2/
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete -print